<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::commonHeader"></head>
<body class="page-sub-page page-blog-detail" id="page-top">

<div class="wrapper">

    <div th:replace="common/common::nav"></div>

    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">500</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <section id="500">
                <div class="error-page">
                    <div class="title">
                        <img alt="" src="/assets/img/error-page-background.png" class="top">
                        <header>500</header>
                        <img alt="" src="/assets/img/error-page-background.png" class="bottom">
                    </div>
                    <h2 class="no-border">Internal Server Error</h2>
                    <a  class="link-arrow back" href="/index" >返回首页</a>
                </div>
            </section>
        </div><!-- /.container -->
    </div>

    <footer th:replace="common/common::footer"></footer>

</div>

<span th:replace="common/common::commonJs"></span>


</body>
</html>
   